<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77ab81">  <td>18/12/03 17:27:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase1.setUp()[pri:0, instance:com.genpact.demo.testcases.TestCase1@6a1aab78]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1885996206</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/12/03 17:28:02</td>   <td>21900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.VerifyResetButton()[pri:0, instance:com.genpact.demo.testcases.TestCase1@6a1aab78]">VerifyResetButton</td> 
  <td>main@1885996206</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/12/03 17:28:02</td>   <td>21903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.verifyHomePage()[pri:0, instance:com.genpact.demo.testcases.TestCase1@6a1aab78]">verifyHomePage</td> 
  <td>main@1885996206</td>   <td></td> </tr>
</table>
